footer
  p
    a(href='https://github.com/poiol/poi-theme',target='_blank') Poi-Theme
    a(href='https://github.com/reruin/sharelist',target='_blank') ShareList
    a(href='/manage',target='_blank')= __('manage')
-if(g_config.custom_script)
  .
    !{g_config.custom_script}